body {
    background: -webkit-linear-gradient(140deg, #700000,#ce7433,#716fb8);background: linear-gradient(140deg, #700000,#ce7433,#716fb8);
}
table {
    border-collapse: collapse;
}
p, h4 {
    font-size: 50px;
    margin-bottom: 0;
}
h4 {
    font-size: 14px; 
}
ul, ol {
    margin: 0;
}
table tr td {
    padding: 5px;
}
table {
	width: 100%;

}

img {
	height: 30px;
	width: 100px;
}
